<h1>New Gossip</h1>
<%= form_with model: @post do |form| %>
  <div><%= form.label :content, "Speak your facts: " %></div>
  <div><%= form.text_field :content %></div>
  <div><%= form.submit "Submit!" %></div>
<% end %>
